#!/usr/bin/expect

set timeout -1;
spawn /opt/netbox/venv/bin/python manage.py changepassword {{netbox_admin}};
expect {
    "Password:" { exp_send "{{netbox_admin_password}}\r" ; exp_continue }
    "Password (again):" { exp_send "{{netbox_admin_password}}\r" ; exp_continue }
    eof
}
